h1 {
  font-family: Georgia, sans-serif;
  font-size: 40px;
  font-weight: 25px;
  color: rgb(10,70,100); 
  text-align: center;
}
h2 {
  font-family: Georgia, serif;
  /* font-size: 30px; */
  color: rgb(60,70,100); 
  text-align: center;
  font-weight: normal;
}
h3 {
  font-family: Georgia, serif;
  /* font-size: 28px; */
  color: rgb(60,70,100); 
  text-align: center;
  font-weight: normal;
}
#body {
  background-color: rgb(240, 250, 255);
}
#banner {
  width: 100%;
  height: 550px;
  object-fit: cover;
}
#container {
  max-width: 1200px;
  margin: 0 auto;
}  
p {
  font-family: Georgia, serif;
  color: black;
  text-align: justify;
  font-weight: normal;
}
#contact-button{
  text-align:center
}